duplicate

In [6]:
SELECT count(*) cnt,movie_title FROM movie_gross
group by movie_title
having count(*) >1

cnt,movie_title
2,101 Dalmatians
2,Bad Company
2,Cinderella
2,Freaky Friday
3,The Jungle Book

In [15]:
select movie_title from movie_gross  group by movie_title having count(*) >1

movie_title
101 Dalmatians
Bad Company
Cinderella
Freaky Friday
The Jungle Book

In [16]:
select * from movie_gross where movie_title in (select movie_title from movie_gross  group by movie_title having count(*) >1)

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Cinderella,1950-02-15,Drama,G,85000000,920608730
101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985
The Jungle Book,1967-10-18,Musical,Not Rated,141843000,789612346
Freaky Friday,1977-01-21,Comedy,NULL,25942000,98067733
The Jungle Book,1994-12-25,Adventure,PG,44342956,88930321
Bad Company,1995-01-20,Thriller/Suspense,R,3523909,6829092
101 Dalmatians,1996-11-27,Comedy,G,136189294,258728898
Bad Company,2002-06-07,Action,PG-13,30157016,43756218
Freaky Friday,2003-08-06,Comedy,PG,110222438,154090360
Cinderella,2015-03-13,Drama,PG,201151353,201151353
The Jungle Book,2016-04-15,Adventure,PG,364001123,364001123

In [19]:
with cte AS
(
select movie_title from movie_gross  group by movie_title having count(*) >1
)
select * from movie_gross m INNER JOIN cte c on m.movie_title  = c.movie_title order by m.movie_title

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross,movie_title
101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985,101 Dalmatians
101 Dalmatians,1996-11-27,Comedy,G,136189294,258728898,101 Dalmatians
Bad Company,1995-01-20,Thriller/Suspense,R,3523909,6829092,Bad Company
Bad Company,2002-06-07,Action,PG-13,30157016,43756218,Bad Company
Cinderella,2015-03-13,Drama,PG,201151353,201151353,Cinderella
Cinderella,1950-02-15,Drama,G,85000000,920608730,Cinderella
Freaky Friday,2003-08-06,Comedy,PG,110222438,154090360,Freaky Friday
Freaky Friday,1977-01-21,Comedy,NULL,25942000,98067733,Freaky Friday
The Jungle Book,1994-12-25,Adventure,PG,44342956,88930321,The Jungle Book
The Jungle Book,1967-10-18,Musical,Not Rated,141843000,789612346,The Jungle Book
The Jungle Book,2016-04-15,Adventure,PG,364001123,364001123,The Jungle Book