Find differrent of time

In [1]:
drop table if exists car_park;
create table car_park(
    plate_num nvarchar(10),
	in_time datetime,
	out_time datetime
);

insert into car_park VALUES
(N'กก 1234','2019-09-20 11:00','2019-09-20 13:00'),
(N'กข 1234','2019-09-20 11:00','2019-09-20 11:10'),
(N'ขข 4711','2019-09-20 11:50','2019-09-20 13:00'),
(N'นน 21','2019-09-20 13:50','2019-09-20 14:25'),
(N'กค 9999','2019-09-20 13:50','2019-09-20 15:10'),
(N'กย 1274','2019-09-20 13:50','2019-09-23 15:10');

select * from car_park;

plate_num,in_time,out_time
กก 1234,2019-09-20 11:00:00.000,2019-09-20 13:00:00.000
กข 1234,2019-09-20 11:00:00.000,2019-09-20 11:10:00.000
ขข 4711,2019-09-20 11:50:00.000,2019-09-20 13:00:00.000
นน 21,2019-09-20 13:50:00.000,2019-09-20 14:25:00.000
กค 9999,2019-09-20 13:50:00.000,2019-09-20 15:10:00.000
กย 1274,2019-09-20 13:50:00.000,2019-09-23 15:10:00.000

In [7]:
declare @rate int = 10;
select 
plate_num,
format(in_time,'yyyy-MM-dd hh:mm') in_time,
format(out_time, 'yyyy-MM-dd hh:mm') out_time,
DATEDIFF(minute,in_time,out_time) / 60 [hours],
DATEDIFF(minute,in_time,out_time) % 60 [minute],
((datediff(minute,in_time,out_time) / 60 ) * @rate) + iif(datediff(minute,in_time,out_time) % 60 >15 ,@rate,0) fee
 from car_park

plate_num,in_time,out_time,hours,minute,fee
กก 1234,2019-09-20 11:00,2019-09-20 01:00,2,0,20
กข 1234,2019-09-20 11:00,2019-09-20 11:10,0,10,0
ขข 4711,2019-09-20 11:50,2019-09-20 01:00,1,10,10
นน 21,2019-09-20 01:50,2019-09-20 02:25,0,35,10
กค 9999,2019-09-20 01:50,2019-09-20 03:10,1,20,20
กย 1274,2019-09-20 01:50,2019-09-23 03:10,73,20,740